
@import "_components/_typography";
@import "_components/_variables";

.body{
    background:$color-1;
    background:url( ../img/bg-tijolos.jpg ) no-repeat center center;
    background-size:cover;
    background-attachment:fixed;
}
.header , .section{
    width: 100%;
    min-width: 100%;
    height:100%;
}

.header{
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    .page-title{
        text-align:center;
        color:#FFF;
        display:block;
        width: 100%;
        margin:0 auto;
        text-transform:uppercase;
        font-weight:100;
        font-size:50px;
    }
    .page-subtitle{
        @extend .page-title;
        font-size:20px;
    }
}

[data-scroll]{
  position:absolute;
  left:0;
  top:70%;
  width: 100%;
  display:flex;
  align-items:center;
  justify-content:center;
  color:#FFF;
  font-size:65px;
  cursor:pointer;
  animation:clickAbout infinite 2s cubic-bezier(0.68, -0.55, 0.27, 1.55); 
}
@keyframes clickAbout{
    50%{
        top:75%;
    }
}

.footer{
    display:none;
}