// BUTTONS

@import '_variables';

.message{
    display:block;
    text-align:center;
    border-style:solid;
    border-width:1px;
    padding:15px;
    margin:15px auto;
    &.success{
        background: rgba( $color-confirm , 0.4 );
        color:darken( $color-confirm , 20% );
        border-color:darken( $color-confirm , 20% );
        &:before{
            content: '\2713';
            color: inherit;
            display: inline-block;
            margin: 0 5px 0 -5px;
            font-weight: bold;
        }
    }
    &.error{
        background: rgba( $color-cancel , 0.4 );
        color:darken( $color-cancel , 20% );
        border-color:darken( $color-cancel , 20% );
        &:before{
            content: '\00d7';
            color: inherit;
            display: inline-block;
            margin: 0 5px 0 -5px;
            font-weight: bold;
        }
    }
    &.alert{
        background: rgba( $color-alert , 0.4 );
        color:darken( $color-alert , 20% );
        border-color:darken( $color-alert , 20% );
        &:before{
            content: '!';
            color: inherit;
            display: inline-block;
            margin: 0 5px 0 -5px;
            font-weight: bold;
        }
    }
}