
@import "_variables";

// VARIABLES-CLASSES
fieldset{
  border:none;
}
.link-padrao{
  font-size:inherit;
  position:relative;
  color:$color-1;
  transition:.2s linear;
  &:after{
    position:absolute;
    content:"";
    background:$color-1;
    bottom:1%;
    right: 0;
    height: 7%;
    width: 0;
    transition:.2s linear;
  }
  &:hover{
    &:after{
      width: 100%;
    }
  }
  &.fixed{
    &:after{
      width:100%;
    }
  }
}
.btn-padrao{
  border-radius:5px;
  background:$color-2;
  color:$color-1;
  font-size:15px;
  padding:0.5em 2em;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  transition:.2s linear;
  &:hover, &:focus{
    background:$color-1;
    color:$color-2;
  }
}
.figure{
  max-width: 100%;
  .img{
    max-width: 100%;
    display: block;
    margin:0 auto;
  }
}
.box-shadow{
  box-shadow:2px 5px 14px 1px gainsboro;
}