

/************************************************** COLORS *********************************/
//Default colors
$color-default: #555;
$color-confirm: #3ba44f;
$color-options: #2c82c7;
$color-cancel: #c72c2c;
$color-alert: #e2cd29;

//Special colors 
$color-1: #460303;
$color-2: #fff;
//$color-3: #ec3166;
$text-color:#fff;